{% extends "base.html" %}
{% load static %}

{% block page_content %}

    <!-- Starting section-->
    <section style="padding-top: 20px; padding-bottom: 40px">
    <div class="col-md-8 offset-md-2" style="align-content: center; background-size: cover; padding-top: 20px">
        <h1>What is data donation?</h1>
            Have you ever wondered how you can contribute to <b>causes</b> that matter to you?
            Well, you can do it through <b>data donation</b>.
            By becoming a <b>data donor</b>, you give your <b>data</b> (e.g., pictures, audio recordings, sensor data, location logs) to <b>designers and researchers</b> working on data-centric design projects ranging from designing a new product or service to understanding the needs of people like you.
            But that is not all, you can also opt for greater involvement in these projects by participating in later stages and receiving updates.
        </p>
        <br>
        <h1>How can I become a data donor?</h1>
        <p>
            To become a <b>data donor</b> you can <a href="{% url 'cause_index' %}">select a project</a> that interests you and <b>submit your data</b>. You can choose to donate the same data to one or more projects.
            Your data will be of great help for these projects, but you can help even more by giving more information about you and your context, that will result in more detailed insights, and agreeing to participate in additional activities such as workshops, co-creation sessions and interviews.
            You can also choose to follow along the development of the project and receive information about the project’s outputs.
        </p>
        <br>
        <h1>What happens to the data I donate?</h1>
        <p>
            The data you donate will be stored in TU Delft servers and will be used to drive <b>design or research projects</b>, thus it might be used for scientific publications, news items, and blog posts.
            It will be used by <b>designers or researchers</b> who are <u>committed to keeping you up to date</u> on how it is being used and what they are learning from it (if you are interested).<br>
        </p>
    </div>
    </section>


{% endblock %}