{% extends "base.html" %}
{% load static %}

{% block page_content %}
    <!-- Starting section-->
    <section style="padding-top: 50px; padding-bottom: 50px">
        <div class="col-md-8 offset-md-2" style="align-content: center; background-size: cover; padding-top: 20px">
            <h1>Terms and Conditions</h1>
            <hr>
            <p>By signing up to our Designerly Data Donation platform via the Data Centric Design Lab, you acknowledge and agree that your have read the following terms and conditions:<br></p>
            <h3>Elegibility</h3>
            <p>Designerly Data Donation is open to anyone over the age of 18. If you are 18 or under, you must have your parent or guardian’s consent and they must supervise your participation in Designerly Data Donation.</p>
            <h3>Your Account</h3>
            <p>When you sign up to our DDD platform with a Data-Centric Design Lab account we collect your email address and, if provided by you, your name. We use this to identify you. We do not share this with any third-party without your explicit consent. When you provide information for your account, you give us the permissions necessary to keep track of information about your Donations, associate that data with your email, username, name and demographic information, if provided.</p>
            <h3>Your Donations</h3>
            <p>When you donate your data through DDD you are agreeing to your data being used by the project Data Receivers for the duration of the project and as described in the project details. Technically we cannot guarantee that the data is used and processed by the Data Receivers for the sole purpose they describe. However, in this case they would step outside the EU legal boundaries.</p>
            <h3>Disclaimer</h3>
            <p>By contributing to Designerly Data Donation, you agree that Designerly Data Donation will not be liable in any way for any inability to use Designerly Data Donation or for any claim arising out of these terms.</p>
        </div>
    </section>



{% endblock %}