{% extends "base.html" %}
{% load static %}

{% block page_content %}
    <!-- Starting section-->
    <section style="padding-top: 50px; padding-bottom: 50px">
        <div class="col-md-8 offset-md-2" style="align-content: center; background-size: cover; padding-top: 20px">
            <h1>About Designerly Data Donation</h1>
            <hr>
            <p>
               Designerly Data Donation allows designers and researchers, working on projects addressing complex societal challenges, to collaborate with diverse people willing to contribute throughout their personal data and experience.
            </p>

            <h3>Actors</h3>
            <p>
                Those who participate in Designerly Data Donation, this includes <b>Data Donors</b> and <b>Data Receivers</b>.
                <ul id="account">
                    <li><b>Data Donor:</b> Any person willing to contribute with their personal data to a specific project or context.</li>
                    <li><b>Data Receiver:</b> Any person, group of people, or institution, running a design or research project who could benefit from having access to data and insights from potential contributors.</li>
            </ul>
            </p>
            <h3>Principles of Designerly Data Donation</h3>
            <ul id="account">
                <li><b>Open Information Flow:</b> When donating your data through our platform you are always going to find information about the Data Receivers, the duration of the project, the type of data being requested and how the data is going to be used.
                    Besides, if you wish so, Data Receivers will keep you up to date on how your data is being used, what they are learning from it, and how it is contributing to their project.</li>
                <li><b>Data Donors in Control:</b> As a Data Donor, you are always in control of your personal data. This means you decide which project to contribute to, in what way, and for how long, but also that you can reassess your decisions over time.
                    You can always manage your donations, and delete any data you no longer wish to share. </li>
                <li><b>Value Lies in Collaboration:</b>Data is great and everything. But it is limited without the unique experiences and expertise of those represented by the data.</li>
            </ul>
            <h3>Infrastructure</h3>
            <p>
                This platform is built upon existing tools of the <a href="https://datacentricdesign.org/">Data-Centric Design Lab</a>. Particularly <a href="https://dwd.tudelft.nl/bucket/about">Bucket</a>, a cloud application that facilitates the ingestion and distribution of data from various languages and platforms.<br>
                <img class="featurette-image img-fluid mx-auto" src="{% static 'images/infrastructure.png' %}" alt="Data Infrastructure">
                There are two ways in which you can donate your data. First, by manually uploading it to our platform. Second, by giving us permission to access data from a third party application. In both cases your data is processed by our platform, and then stored in Bucket. When you donate your data to a specific project, the Data Receivers of that project immediately have access to it until the project finishes, you revoke their access, or you delete the data.
            </p>
            If you are interested, you can <a href="https://dwd.tudelft.nl/bucket/about">read more about Bucket</a>, or <a href="https://github.com/datacentricdesign/bucket"> see the code in the GitHub Repository</a>.
        </div>
    </section>



{% endblock %}