{% extends "base.html" %}
{% load static %}

{% block page_content %}
    <!-- Starting section-->
    <section style="padding-top: 50px; padding-bottom: 50px">
        <div class="col-md-8 offset-md-2" style="align-content: center; background-size: cover; padding-top: 20px">
            <h1>Publications</h1>
            <hr>
            <p> Here you can find an overview of our publications:
                <ul id="publications">
            <li>Gomez Ortega, A., Bourgeois, J., and Kortuem, G. <b>Towards Designerly Data Donation.</b> In Adjunct Proceedings of the 2021 ACM International Joint Conference on Pervasive and Ubiquitous Computing (UbiComp '21). DOI: <a href="https://doi.org/10.1145/3460418.3479362">doi.org/10.1145/3460418.3479362</a></li>
            <li>Lu, J., Gomez Ortega, A., Gonçalves, M., and Bourgeois, J. (2021). <b>The Impact of Data on the Role of Designers and their Process.</b> Proceedings of the Design Society. DOI: <a href="https://doi.org/10.1017/pds.2021.563">doi.org/10.1017/pds.2021.563</a></li>
                </ul>
            </p>
        </div>
    </section>



{% endblock %}