{% extends "base.html" %}
{% load static %}

{% block page_content %}
    <!-- Starting section-->
    <section style="padding-top: 50px; padding-bottom: 50px">
        <div class="col-md-8 offset-md-2" style="align-content: center; background-size: cover; padding-top: 20px">
            <h4>Terms</h4>
            <hr>
            <p>The purpose of the Designerly Data Donation platform is to enable data-driven collaborations between TU Delft designers and researchers and people. The platform is open to anyone over the age of 18.</p>
            <h3>Information on the Website</h3>
            <p>The information on this website is provided without obligation. This information has been compiled with the utmost care and efforts have been made to ensure this information remains up-to-date.
                Nevertheless, no rights may be derived from the information included on this website.</p>
            <h3>Changes and/or Updates</h3>
            <p>We reserve the right to make changes to the information offered on this website without advance notice.</p>
            <h3>Use of the Website</h3>
            <p>We accept no liability or responsibility for any damage or loss resulting from the use of the TU Delft website.</p>
            <h3>Donating Data through the Website</h3>
            <p>When you donate your data through the Designerly Data Donation platform you are agreeing to your data being used by the project Data Receivers for the duration of the project and as described in the project information.
                Data receivers using the Designerly Data Donation Platform and their specific projects have gone through an assessment with the TU Delft Human-Research Ethics Committee and have agreed to use the data as described in the project information.
                Nevertheless, we cannot guarantee that the data is used and processed by the Data Receivers for the sole purpose they describe. We accept no liability or responsibility for Data Receivers breaching this agreement.
            </p>

        </div>
    </section>



{% endblock %}