{% extends "base.html" %}
{% load static %}

{% block page_content %}
    <!-- Starting section-->
    <section style="padding-top: 50px; padding-bottom: 50px">
        <div class="col-md-8 offset-md-2" style="align-content: center; background-size: cover; padding-top: 20px">
            <h4>About Designerly Data Donation</h4>
            <hr>
            <p>DDD is a platform where individuals donate data - and information about that data - to designers and researchers working on specific projects.
               This platform allows designers and researchers, working on projects addressing complex societal challenges, to collaborate with people willing to contribute throughout their personal data and experience.
            </p>

            <h5>Actors</h5>
            <p>
                <ul id="account">
                    <li><b>Data Donors:</b> Any person willing to contribute with their personal data to a specific project or context.</li>
                    <li><b>Data Receivers:</b> Any person, group of people, or institution, running a design or research project who could benefit from having access to data and insights from potential contributors.</li>
            </ul>
            </p>
            <h5>Principles of Designerly Data Donation</h5>
            <ol id="steps">
                <li><b>Valuable Collaboration:</b> Data is an incredible resource. However, it is limited without the unique experiences and expertise of those represented by the data. Through Designerly Data Donation we aim to develop trusted and valuable collaborations that start with data, but go way further.</li>
                <li><b>Actionable Control:</b> Our main objective is to enable collaborations through data. For this, it is key that people not only have control of their personal data but also the mechanisms to exercise this control. Through Designerly Data Donation we give the first step in this direction.</li>
                <li><b>Accessible Information:</b> Information flow is at the core of any successful collaboration. Through Designerly Data Donation, we aim to ensure that information flows openly and is accessible to both Data donors and Data Receivers.</li>
            </ol>
            <h5>Process</h5>
            <p>Here is a step-by-step illustration of how DDD works:</p>
             <div class="text-center" style="padding-bottom: 30px">
            <img class="center featurette-image img-fluid mx-auto" src="{% static 'images/DDDProcess.png' %}" alt="Our Infrastructure." width="400">
            </div>
            <ol id="steps">
                <li><b>Data Receiver(s)</b> working on a design or research project create a data donation call where they inform potential Data Donors about their project and extend an invitation to contribute through their data.</li>
                <li><b>Data Donor(s)</b> interested in contributing to a project donate their data, and consent to their data being accessible to Data Receivers for the duration of the project. Here it is important to note that <b>any donated data will be associated with the identity of the Data Donor and will not be anonymized.</b><br>
                    There are two ways in which <b>Data Donor(s)</b> can donate their data:
                <ol id="steps">
                    <li>Manually uploading it to our platform.</li>
                    <li>Giving the DDD platform permission to access data from a third party application.</li>
                    </ol>
                This process depends on the entity controlling the data you want to donate and the facilities they offer to transfer data.</li>
                <li><b>Data Donor(s) and Data Receivers(s)</b> collaborate to further the project and meet the project goals.</li>
            </ol>
            <h5>Infrastructure</h5>
            <p>
                This platform is built upon the open-source tools of the <a href="https://datacentricdesign.org/">Data-Centric Design Lab</a>. Particularly <a href="https://datacentricdesign.org/tools/bucket">Bucket</a>, a cloud application that facilitates the ingestion and distribution of data from various languages and platforms. Our tools are hosted in <b>Delft, The Netherlands</b> by the <a href="https://www.tudelft.nl/en/">Technical University of Delft (TU Delft)</a>.<br>
                If you are interested, you can see the code of <a href="#">Designerly Data Donation</a> and <a href="https://github.com/datacentricdesign/bucket">Bucket</a> in the GitHub Repository.
            </p>
            <div class="text-center" style="padding-bottom: 30px">
            <img class="center featurette-image img-fluid mx-auto" src="{% static 'images/Infrastructure_all.png' %}" alt="Our Infrastructure." width="600">
            </div>

        </div>
    </section>



{% endblock %}