{% extends "base.html" %}
{% load static %}

{% block landing_page_content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/landing.css' %}">
<section class="landing-section landing-main">
<div class="landing-overlay">
    <div class="landing-description">
        <h1><b>DATA DONATION</b></h1>
        <p>Contribute to design and research projects through <b>data</b></p>
        <a href="{% url 'cause_index' %}" class="btn btn-primary">Get Started</a>
    </div>
</div>
</section>
{% endblock %}