{% extends "base.html" %}
{% load static %}

{% block page_content %}

    <!-- Starting section-->
    <section style="padding-top: 50px; padding-bottom: 50px">
    <div class="col-md-8 offset-md-2" style="align-content: center; background-size: cover; padding-top: 20px">
        <h1>People</h1>
        <hr>
        <div style="padding-bottom: 10px">
            <p> This project is part of the PhD research of <a href="https://www.tudelft.nl/io/over-io/personen/gomez-ortega-a">Alejandra Gomez Ortega</a>. Our team includes <a href="https://www.tudelft.nl/io/over-io/personen/bourgeois-j">Jacky Bourgeois</a> and <a href="https://www.tudelft.nl/io/over-io/personen/kortuem-g">Gerd Kortuem</a> whose guidance and knowledge continuously enriches <b>Designerly Data Donation</b>. We build and maintain this website, in collaboration with a group of people within the <a href="https://datacentricdesign.org/">Data-Centric Design Lab</a>.<br><br>
                We are part of the <a href="https://www.tudelft.nl/en/ide/about-ide/departments/sustainable-design-engineering/section-intelligence">Knowledge and Intelligence (KInD) Section</a> in the <a href="https://www.tudelft.nl/en/ide/about-ide/departments/sustainable-design-engineering">Department of Sustainable Design Engineering (SDE)</a> of the <a href="https://www.tudelft.nl/en/ide/">Faculty of Industrial Design Engineering (IDE)</a> in the <a href="https://www.tudelft.nl/en/">Delft University of Technology (TU Delft)</a>.
            </p>
        </div>
        <div class="row text-center" style="padding-bottom: 10px">
            <div class="col-sm-4">
                <div class="bg-white rounded shadow-sm py-3 px-2">
                    <img class="img-fluid mb-3" src="{% static 'images/alejandra_gomez.jpg' %}">
                    <h5 class="mb-0"><a href="https://www.tudelft.nl/io/over-io/personen/gomez-ortega-a">Alejandra Gomez Ortega</a></h5>
                    <span class="small text text-muted">PhD Candidate<br></span>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="bg-white rounded shadow-sm py-3 px-2">
                    <img class="img-fluid mb-3" src="{% static 'images/jacky_bourgeois.jpg' %}">
                    <h5 class="mb-0"><a href="https://www.tudelft.nl/io/over-io/personen/bourgeois-j">Jacky Bourgeois</a></h5>
                    <span class="small text text-muted">Assistant Professor</span>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="bg-white rounded shadow-sm py-3 px-2">
                    <img class="img-fluid mb-3" src="{% static 'images/gerd_kortuem.jpg' %}">
                    <h5 class="mb-0"><a href="https://www.tudelft.nl/io/over-io/personen/kortuem-g">Gerd Kortuem</a></h5>
                    <span class="small text text-muted">Professor of IoT</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 offset-md-2" style="align-content: center; padding-top: 20px;">

        <h3>Get Involved</h3>
        <p>
            If you want to collaborate with us and help us advance <b>Designerly Data Donation</b> you can get in touch via email at <a href="mailto:datadonation-ide@tudelft.nl">datadonation-ide@tudelft.nl</a> or submit issues via <a href="#">GitHub</a>.
        </p>
    </div>
  </section>

{% endblock %}