{% extends "base.html" %}
{% load static %}

{% block page_content %}
    <!-- Starting section-->
    <section style="padding-top: 50px; padding-bottom: 50px">
        <div class="col-md-8 offset-md-2" style="align-content: center; background-size: cover; padding-top: 20px">
            <h4>Privacy Policy</h4>
            <hr>
            <p>
                This Privacy Policy explains how we, <b>Designerly Data Donation (DDD)</b>, collect, store, use, transfer, and share personal data from you and how you can control it.

                When you use the Designerly Data Donation platform, you are trusting us with your personal data. We aim to honor and maintain this trust which is why we are committed to being open about how we manage your personal data.
                <br>
                By signing up to our Designerly Data Donation platform via the Data Centric Design Lab, you acknowledge and agree that your personal data can be managed as described in this Privacy Policy.
                <br>
                We reserve the right to change this Privacy Policy. If we make any changes we will notify you by email and offer you the possibility to re-evaluate your consent.
                <br>
                You can always contact us by sending an email to <a href="mailto:datadonation-ide@tudelft.nl">datadonation-ide@tudelft.nl</a>
            </p>
            <h5>Key Takeaways</h5>
            <p>
            We recommend that you read this Privacy Policy in full. However, here are some <b>key takeaways</b>:
            </p>
            <div class="container">
                <div class="row">
                    <div class="col-md-2 text-md-center text-center">
                        <img class="rounded-circle" src="{% static 'images/icon-control.png' %}" width="75" alt="Icon: You are in Control">
                    </div>
                    <div class="col-md-10 text-md-left text-center">
                        <p><b>You are in control.</b><br>
                        When donating your personal data you decide which projects to contribute to, which data to donate, and under which conditions (e.g., for how long).</p>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-md-2 text-md-center text-center">
                        <img class="rounded-circle" src="{% static 'images/icon-consent.png' %}" width="75" alt="Icon: Your Consent is Crucial">
                    </div>
                    <div class="col-md-10 text-md-left text-center">
                        <p><b>Your consent is crucial.</b><br>
                        We explicitly ask for your consent when donating your personal data. You can revoke your consent at any time and you are encouraged to re-evaluate your consent over time.</p>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-md-2 text-md-center text-center">
                        <img class="rounded-circle" src="{% static 'images/icon-identifiable.png' %}" width="75" alt="You are in Control Icon">
                    </div>
                    <div class="col-md-10 text-md-left text-center">
                        <p><b>You are identifiable.</b><br>
                        You are identifiable. To ensure that you can exercise control over your personal data, it will be associated with your email account and will not be anonymized. This means that Data Receivers who have been granted access to your data will know that it belongs to you.</p>
                    </div>
                </div>
            </div>
            <h5>Personal Data and Information we Colect from You</h5>
            <p>Here is a step-by-step illustration of how your personal data is handled:</p>
            <img class="featurette-image img-fluid mx-auto" src="{% static 'images/privacy_steps.png' %}" alt="How your Personal Data is Handled.">
            <ol id="steps">
                <li>You become a <b>Designerly Data Donation</b> user by creating a <b>Data-Centric Design Lab</b> account, this allows you to act both as a Data Donor and a Data Receiver. We store your email and name, if provided, to identify you.</li>
                <li>Acting as a Data Receiver you can create a project to request data from Data Donors. We store the project information, including title, description, goals, and requested data.</li>
                <li>Acting as a Data Donor you can consent to and donate your data to a project. This means you agree to your data being used by the project Data Receivers for the duration of the project as described in the project details. We store your donation. Your data then can be accessed only by you and the project Data Receivers.</li>
                <li>Data Donors and Data Receivers collaborate through the Designerly Data Donation platform to meet the project goals.</li>
                <li>If at any point you want to delete your data or revoke access to your donation(s) you can do this directly from the Designerly Data Donation Platform. In this case your data will be deleted or Data Receivers will no longer have access to it. Besides, if you wish to you can also delete your account and all data stored in our servers.</li>
            </ol>
            <h6>When Creating an Account</h6>
            <p>When you sign up to our DDD platform with a Data-Centric Design Lab account we collect your email address and, if provided by you, your name. We use this to identify you. We do not share this with any third-party without your explicit consent.</p>
            <h6>When Using our Platform</h6>
            <p>When you access or use our platform we automatically log information about your computer or mobile device, including when available, your IP address, operating system, login times, and browser type. We use this information to better understand how you use our platform and for internal reporting purposes. We do not share this with any third party without your explicit consent.</p>
            <h6>When Donating your Data</h6>
            <p>
                When you donate your data to a project you are agreeing to your data being used by the project Data Receivers for the duration of the project and as described in the project details. Upon donation, we will always provide you with the following information, so you can make an informed decision:
            </p><ol id="steps">
            <li><b>Data Receivers:</b> The names, affiliations, and contact information of the person or group of people running the project, who will have access to your personal data.</li>
            <li><b>Project Duration:</b> The time during which Data Receivers will have access to your personal data. In case this changes, you will be informed and offered the possibility to re-evaluate your consent.</li>
            <li><b>Project Description:</b> The specific details of the project, including the motivation and goals of the Data Receivers.</li>
            <li><b>Requested Data:</b> The type(s) of personal data the project aims to collect and instructions on how to get started with your donation. You will be offered the possibility to choose which data to donate and re-evaluate this choice by revoking access to the project Data Receivers or deleting your data if necessary.</li>
            <li><b>Data Processing:</b> The details describing how the data is going to be used and processed. You can request additional information about this by contacting the Data Receivers directly.</li>
                </ol><p>
            You can donate your data either by manually uploading it to our platform or by giving permission for the <b>Designerly Data Donation</b> platform to access data from a third party. This process depends on the entity controlling the data you want to donate and the facilities they offer to transfer data.<br>
            We store your donation and from this point onwards <b>your data is accessible <u>ONLY</u> to you and the authorized Data Receivers</b>. We do not share this data with any third-party without your explicit consent. By donating your data you trust the Data Receivers. Technically we cannot guarantee that the data is used and processed by the Data Receivers for the sole purpose they describe. However, in this case they would step outside the EU legal boundaries.
            </p>
            <h6>Retention Period</h6>
            <p>
                The personal data we collect, store, and use will remain on our servers until you choose to delete it or close your account. Upon the completion of a project you will be invited to decide between <b>deleting</b> all or some of the data or <b>keeping</b> all or some of the data on the DDD platform, ready for your next donation.
            </p>
            <h5>Your Rights</h5>
            <ol id="steps">
                <li>You have the right to request information about any and all personal information that we hold about you, to access all your personal data and receive a copy of it.</li>
                <li>You have a right to ask us (and the Data Receivers) to correct any inaccuracies reflected on your personal data and to update any out of date information.</li>
                <li>You have the right to erase your personal data, to withdraw your consent to processing and to revoke access to Data Receivers. </li>
            </ol>
            <p>You can exercise your rights through our platform. However, if you experience difficulties in exercising any of these rights, or wish to object to our use of your personal information please contact us via email at: <a href="mailto:datadonation-ide@tudelft.nl">datadonation-ide@tudelft.nl</a></p>
            <h5>Our Infrastructure</h5>
            <p>
                This platform is built upon the open-source tools of the <a href="https://delftdesignlabs.org/dcd-lab/">Data-Centric Design Lab</a>. Particularly <a href="https://dwd.tudelft.nl/bucket/">Bucket</a>, a cloud application that facilitates the ingestion and distribution of data from various languages and platforms. Our tools are hosted in <b>Delft, The Netherlands</b> by the <a href="https://www.tudelft.nl/en/">Technical University of Delft (TU Delft)</a>.<br>
                If you are interested, you can see the code of <a href="#">Designerly Data Donation</a> and <a href="https://github.com/datacentricdesign/bucket">Bucket</a> in the GitHub Repository.
            </p>
            <div class="text-center" style="padding-bottom: 30px">
            <img class="center featurette-image img-fluid mx-auto" src="{% static 'images/Infrastructure_all.png' %}" alt="Our Infrastructure." width="600">
            </div>
            <br>
            <h5>Security of Your Personal Data</h5>
            <p>
                Our tools are hosted in Delft, The Netherlands by the <a href="https://www.tudelft.nl/en/">Technical University of Delft (TU Delft)</a>. You can read about the TU Delft general data security measures <a href="https://www.tudelft.nl/en/privacy-security/data-security">here</a>.
            </p>
            <h5>Contact Us</h5>
            <p>
                This project is built and maintained by a group of people within the <a href="https://delftdesignlabs.org/dcd-lab/">Data-Centric Design Lab</a>. As part of the PhD research of <a href="https://www.tudelft.nl/io/over-io/personen/gomez-ortega-a">Alejandra Gomez Ortega</a>.
                We are based in <a href="https://www.tudelft.nl/io/studeren/ide-design-master-classes/location">Landbergstraat 15, 2628 CE, Delft, The Netherlands</a>.
                <br>If you have any questions or concerns about <b>Designerly Data Donation</b>, your personal data, or this Privacy Policy you can get in touch with us via email at <a href="mailto:datadonation-ide@tudelft.nl">datadonation-ide@tudelft.nl</a>

            </p>
        </div>
    </section>



{% endblock %}