{% extends "base.html" %}
{% load static %}

{% block page_content %}
    <!-- Starting section-->
    <section style="padding-top: 30px; padding-bottom: 50px">
        <div class="col-md-8 offset-md-2" style="align-content: center; background-size: cover; padding-top: 5px">
            <h4>How to Get a Copy of your Data</h4>
            <hr>
              {% if project.id == 'ddd_voxpop'%}
                <p>Information on how to obtain a copy of your data for the <b>{{ project.title }}</b> project:</p>
                <ol id="publications">
                    <li>Go to <a href="https://takeout.google.com/">takeout.google.com</a> and log in with your Google credentials if necessary.<br> Go to <b>> Select data to include</b> and click on <b>> Deselect all</b><br>
                    <img src="{% static 'images/deselect_all.gif' %}" width="100%">
                    </li>
                    <li>Scroll down until you find <b>> My Activity</b> and select it by <u>ticking the box</u>
                        <img src="{% static 'images/select_activity.gif' %}" width="100%">
                    </li>
                    <li>Click on <b>> Multiple formats</b> this should open a pop-up where you can choose specific formats for your download.<br>
                        Under <b>> Activity records</b> click on <b><u>JSON</u></b>.
                        <img src="{% static 'images/select_json_first.gif' %}" width="100%">
                    </li>
                    <li>Click on <b>> All activity data included</b>, this should open a pop-up where you can choose specific activity data to export.<br>
                        Click on <b>> Deselect all</b> and <u>tick only the box</u> next to <b>Assistant</b><br>
                        <img src="{% static 'images/select_assistant.gif' %}" width="100%">
                    </li>
                    <li>Under <b>> My Activity</b> you should see <b><u>JSON and 2 other formats</u></b> and <b>1 product selected</b><br>
                        <img src="{% static 'images/select_confirm.gif' %}" width="100%">
                    </li>
                    <li>Scroll down and click on the <b>> Next step</b> button.<br>
                        Under <b>> Choose file type, frequency & destination</b> select <b>> Export once</b>, <b>> .zip</b>, and <b>> 2 GB</b>. Click on the <b>Create export button</b><br>
                    <img src="{% static 'images/select_export.gif' %}" width="100%">
                    </li>
                    <li>You will receive an email when your data is ready. Download the <b>.zip</b> file and upload it in the <a href="/project/{{ project.pk }}/">{{ project.title }} page</a><br>
                    <img src="{% static 'images/export_email.gif' %}" width="100%"></li>

                </ol>
              {% elif project.id == 'ddd_sports' %}
                  <h5>Garmin Users</h5>
                  <ol id="publications">
                    <li>Go to <a href="https://www.garmin.com/account/datamanagement/">https://www.garmin.com/account/datamanagement/</a> and log in with your Garmin Connect Credentials.</li>
                    <li>Click on <b>Export your Data</b></li>
                    <li>Click on <b>Request Data Export</b></li>
                    <li>You will receive an email when your data is ready. Download the <b>.zip</b> file and upload it in the <a href="/project/{{ project.pk }}/">{{ project.title }} page</a><br>
                  </ol>
                  <div style="justify-content: center; text-align: center">
                  <img src="{% static 'images/garmin_instr.png' %}" width="70%">
                  </div>
                  <hr>
                  <h5>Apple Watch Users</h5>
                  <ol id="publications">
                      <li>On your iPhone go to your <b>Apple Health App</b> and click on the <b>icon with your profile</b> in the upper right corner</li>
                  <li>Scroll down and click on <b>Export All Health Data</b></li>
                  <li>Confirm by clicking on <b>Export</b></li>
                  <li>Upload the <b>.zip</b> file in the <a href="/project/{{ project.pk }}/">{{ project.title }} page</a></li>
                  </ol>
                  <div style="justify-content: center; text-align: center">
                   <img src="{% static 'images/apple_instr.png' %}" width="70%">
                  </div>

             {% else %}
                <p>Project <b>{{ project.title }}</b> does not have detailed instructions. If you have any questions
                    regarding this project please send an email to <a href="mailto:datadonation-ide@tudelft.nl">datadonation-ide@tudelft.nl</a>.</p>
            {% endif %}
        </div>
    </section>
{% endblock %}