{% extends "base.html" %}
{% load static %}

{% block page_content %}
    <!-- Starting section-->
    <section style="padding-top: 30px; padding-bottom: 50px">
        <div class="col-md-8 offset-md-2" style="align-content: center; background-size: cover; padding-top: 5px">
            <h4>Publications</h4>
            <hr>
            <h5>Peer-Reviewed Publications</h5>
                <ul id="publications" style="list-style: none;">
                    <li>Gomez Ortega, A., Bourgeois, J., and Kortuem, G. (2023) <b>Understanding the Challenges Around Design Activities that Incorporate Behavioral Data. </b> In Proceedings of the Design Society.</li><br>
                    <li>Gomez Ortega, A., Bourgeois, J., and Kortuem, G. (2023) <b>What is Sensitive about (Sensitive) Data? Characterizing Sensitivity and Intimacy with Google Assistant Users</b> In Proceedings of the 2023 CHI Conference on Human Factors in Computing Systems (CHI ’23). DOI: <a href="https://doi.org/10.1145/3544548.3581164">doi.org/10.1145/3544548.3581164</a></li><br>
                    <li>Gomez Ortega, A., Bourgeois, J., and Kortuem, G. (2022) <b>Reconstructing Intimate Contexts through Data Donation: A Case Study in Menstrual Tracking Technologies.</b> In Nordic Human-Computer Interaction Conference (NordiCHI '22). DOI: <a href="https://doi.org/10.1145/3546155.3546646">doi.org/10.1145/3546155.3546646</a></li><br>
                    <li>Lu, J., Gomez Ortega, A., Gonçalves, M., and Bourgeois, J. (2021). <b>The Impact of Data on the Role of Designers and their Process.</b> In Proceedings of the Design Society. DOI: <a href="https://doi.org/10.1017/pds.2021.563">doi.org/10.1017/pds.2021.563</a></li><br>
                </ul>
                <h5>Juried and Lightly-Reviewed Publications</h5>
                <ul id="publications" style="list-style: none;">
                    <li>Gomez Ortega, A., Milias, V., Broadhead, J., van der Valk, C, and Bourgeois, J. (2023). <b>Dataslip: How far does your personal data go?</b> In INTERACT 2023.</li><br>
                    <li>Gomez Ortega, A., Bourgeois, J., and Kortuem, G. (2021) <b>Towards Designerly Data Donation.</b> In Adjunct Proceedings of the 2021 ACM International Joint Conference on Pervasive and Ubiquitous Computing (UbiComp '21). DOI: <a href="https://doi.org/10.1145/3460418.3479362">doi.org/10.1145/3460418.3479362</a></li><br>
                </ul>
                <h5>Special Interest Groups</h5>
                <ul id="publications" style="list-style: none;">
                    <li>Gomez Ortega, A., Lovei, P., Noortman, R., Toebosch, R., Bowyer, A., Kurze, A., Funk, M., Gould, S., Huron, S., and Bourgeois, J. (2023) <b>SIG on Data as Human-Centered Design Material</b>. In Extended Abstracts of the 2023 CHI Conference on Human Factors in Computing Systems (CHI EA '23). [In Press] DOI: <a href="https://doi.org/10.1145/3491101.3516403">https://doi.org/10.1145/3491101.3516403</a></li><br>
                    <li>Gomez Ortega, A., van Kollenburg, J., Shen, Y., Murray-Rust, D., Nedić, D., Jimenez, J., Meijer, W., Chaudhary, P., and Bourgeois, J. (2022) <b>SIG on Data as Human-Centered Design Material</b>. In Extended Abstracts of the 2022 CHI Conference on Human Factors in Computing Systems (CHI EA '22). DOI: <a href="https://doi.org/10.1145/3491101.3516403">https://doi.org/10.1145/3491101.3516403</a></li><br>
                </ul>
            </p>
        </div>
    </section>
{% endblock %}