# 
.idea
_pycache_
*.py[cod]
*$py.class

# Distribution
.Python
env/
build/

# Django
*.loc
local_settings.py

# Virtual Environment
.venv
venv/
ENV/

# Environments
.env
.env/
env/

#
.DS_Store


# IPython
profile_default/
ipython_config.py
