.landing-section {
  min-height: 100vh;
  width: 100vw;
}

.landing-main {
  background: url("/static/images/background.png") no-repeat center center fixed;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.landing-overlay{
    min-width: 100vw;
    min-height: 100vh;
    left:0;
    top:0;
    background: rgba(244,244,244,0.8);
}

.landing-description{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 8em;
}

.landing-description h1{

}

.landing-description p{
    width: 90%;
}