{% extends "base.html" %}
{% block page_content %}
<section style="padding-top: 50px; padding-bottom: 50px">
    <div class="col-md-8 offset-md-2" style="align-content: center; background-size: cover; padding-top: 20px">
        <h1>Your Contributions</h1>
          <hr>
        <ul>
            <li>Your Active Projects:
            {% if not project.exists %}
                No one has created one, be the first
            {% endif %}
            {% for p in project %}
                {% if p.user == user and p.active %}
                     {{ p.title }}
                {% endif %}
            {% endfor %}

            </li>
            <li><a href="/new_project/">Create New Project</a></li>
            <li>Your Donations:</li>
            <li>Featured Projects:
            {% if not project.exists %}
                No one has created one, be the first
            {% endif %}
            {% for p in project %}
                {% if p.user != user and p.active%}
                    <a href="{% url 'project_view' p.pk %}">{{ p.title }}</a>
                {% endif %}
            {% endfor %}</li>
        </ul>
    </div>
</section>
{% endblock %}
