{% extends "base.html" %}
{% load static %}

{% block page_content %}
    <section style="padding-top: 50px; padding-bottom: 50px">
        <div class="col-md-8 offset-md-2" style="align-content: center; background-size: cover; padding-top: 20px">
            <h4>We have Deleted your Donation!</h4>
            <hr>
            <p>We have deleted your data from our platform, and <b>we thank you nonetheless!</b> Please help us understand your data donation experience by answering the following questions. Your responses will help us move forward with our data donation research and are greatly appreciated!</p>
            {% include 'messages.html' %}
        <form action="/delete_survey/", method="post", enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6 order-2">
                    <div class="form-group required control-label">
                        <small class="form-tex">What did you <b>learn from seeing</b> your data?</small>
                         <div class="form-row justify-content-center">
                            {{ form.learn }}
                         </div>
                        <small class="form-tex control-label">Why did you <b>decide to delete</b> your data?</small>
                         <div class="form-row justify-content-center">
                            {{ form.delete }}
                         </div>
                    </div>
                </div>

                <div class="col-md-6 order-1">
                    <div class="form-group required">
                       <label class="form-label">
                            To what extent do you agree with the following statements?<br>
                            <small class="form-text">Note scale from <b>Strongly Disagree (1)</b> to <b>Strongly Agree (5)</b><br></small>
                       </label>
                    <label class="form-label">Seeing my data is helpful to...</label>
                      <div class="form-row justify-content-center">
                           <div class="col-md-8">
                               <small class="form-text"><span>Understand <b>how much data</b> is collected</span></small>
                          </div>
                          <div class="col-md-4">
                                <div class="d-flex justify-content-center my-4">
                                    <small><span class="font-weight-bold mr-2 mt-1">1</span></small>
                                    {{ form.amount }}
                                    <small><span class="font-weight-bold ml-2 mt-1">5</span></small>
                                </div>
                          </div>
                      </div>
                      <div class="form-row justify-content-center">
                           <div class="col-md-8">
                               <small class="form-text"><span>Understand what <b>types of data</b> are collected</span></small>
                          </div>
                          <div class="col-md-4">
                                <div class="d-flex justify-content-center my-4">
                                    <small><span class="font-weight-bold mr-2 mt-1">1</span></small>
                                    {{ form.types }}
                                    <small><span class="font-weight-bold ml-2 mt-1">5</span></small>
                                </div>
                          </div>
                      </div>
                      <div class="form-row justify-content-center">
                           <div class="col-md-8">
                               <small class="form-text"><span>Understand <b>how long</b> data has been collected</span></small>
                          </div>
                          <div class="col-md-4">
                                <div class="d-flex justify-content-center my-4">
                                    <small><span class="font-weight-bold mr-2 mt-1">1</span></small>
                                    {{ form.duration }}
                                    <small><span class="font-weight-bold ml-2 mt-1">5</span></small>
                                </div>
                          </div>
                      </div>
                      <div class="form-row justify-content-center">
                           <div class="col-md-8">
                               <small class="form-text"><span><b>Decide</b> whether to donate my data</span></small>
                          </div>
                          <div class="col-md-4">
                                <div class="d-flex justify-content-center my-4">
                                    <small><span class="font-weight-bold mr-2 mt-1">1</span></small>
                                    {{ form.decision}}
                                    <small><span class="font-weight-bold ml-2 mt-1">5</span></small>
                                </div>
                          </div>
                      </div>
                </div>
            </div>
        </div>
        <button name="confirm" type="submit" class="btn btn-primary mb-5" style="float: right">Submit</button>
        </form>
        </div>
    </section>
{% endblock %}