{% extends "base.html" %}
{% load static %}

{% block page_content %}
{% load plotly_dash %}
    <section style="padding-top: 30px; padding-bottom: 50px">
        <div class="col-md-8 offset-md-2" style="align-content: center; background-size: cover; padding-top: 5px">
            <h4>We have removed your data from our platform!</h4>
            <hr>
        </div>
        <div class="col-md-8 offset-md-2" style="align-content: center">
                    <p>Thank you for your interest in our project. We have removed your data from our platform. You can close your browser :)</p>
        </div>
    </section>
{% endblock %}