{% extends "base.html" %}
{% load static %}

{% block page_content %}
    <section style="padding-top: 50px; padding-bottom: 50px">
        <div class="col-md-8 offset-md-2" style="align-content: center; background-size: cover; padding-top: 20px">
            <h1>Your Donation to {{ donation.project.title }}</h1>
            <hr>
        </div>
    <div class="col-md-8 offset-md-2">
            <div class="row">
                <div class="col-md-6" id="chart">
                    {{ plot | safe }}
                </div>
                <div class="col-md-6">
                    <p>Hover over to explore your data, each dot represents an interaction. What now? You can <b>confirm your donation</b> and input the required metadata or you can <b>delete your data</b> from our platform.</p>
                    {% include 'messages.html' %}
                    <form action="/metadata/{{ donation.pk }}/", method="post", enctype="multipart/form-data">
                     {% csrf_token %}
                        <div class="form-group required">
                            <div class="form-row">
                              <div class="col-md-6">
                                <label class="form-label control-label">Sex</label>
                                <div>{{ form.sex }}</div>
                              </div>
                              <div class="col-md-6">
                                <label class="form-label control-label">Age Range</label>
                                  <div>
                                      {{ form.age }}
                                  </div>
                              </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label class="form-label control-label">Language</label>
                                    <div>{{ form.lan }}</div>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label control-label">Accent</label>
                                    <div>{{ form.acc }}</div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label class="form-label control-label">Device</label>
                                    <div>{{ form.dev }}</div>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label control-label">Additional Device Users</label>
                                    <div>{{ form.use }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <label class="form-check-label">{{ form.awa }} I would like to <b>exclude</b> parts of the data from my donation</label>
                            </div>
                        </div>
                        <button name="confirm" type="submit" class="btn btn-primary mr-2" style="float: left">Confirm Donation</button>
                 </form>
                 <form action="/metadata/{{ donation.pk }}/", method="post", enctype="multipart/form-data">
                        {% csrf_token %}
                        <button name="delete" type="submit", class="btn btn-danger btn-xs">Delete Data</button>
                </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}