{% extends "base.html" %}
{% load static %}
{% block page_content %}
<section style="padding-top: 50px; padding-bottom: 50px">
    <div class="container" style="padding-top:20px">
        <h4>{{ project.title }}</h4>
              <hr>
            {% include 'messages.html' %}
            <p><b>Main Researcher(s):</b> {{ project.researcher_name }}<br>
                <b>Contact Email: </b><a href="mailto:{{ project.user.email }}">{{ project.user.email }}</a><br>
                <b>Affiliation:</b> {{ project.researcher_affiliation }}<br>
                <b>Duration:</b> {{project.start}} to {{ project.end }}</p>
        <div class="row">
            <div class="col-md-5">
                <img class="card-img-top" src="{{ project.image.url }}" width="100%">
                    {% if project.active %}
                        <h6><span class="small text-uppercase" style="color:#019875">STATUS: Open</span></h6>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: {% widthratio project.donation_set.count 1 3%}%" aria-valuenow="{{ p.donation_set.count }}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h6><span class="small text-muted text-uppercase">Donations Received</span> </h6>
                    {% elif project.soon %}
                        <h6><span class="small text-uppercase" style="color:#E67F0D">STATUS: Coming Soon</span></h6>
                        <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="50"></div>
                        </div>
                        <h6><span class="small text-muted text-uppercase">Donations Received</span> </h6>
                    {% else %}
                            <h6><span class="small text-uppercase" style="color:#B8293D">STATUS: Closed</span></h6>
                            {% if project.id == 'ddd_period' %}
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="35"></div>
                                    </div>
                                    <h6><span class="small text-muted text-uppercase">Donations Received</span> </h6>
                                {% elif project.id == 'ddd_home' %}
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="44" aria-valuemin="0" aria-valuemax="44"></div>
                                    </div>
                                    <h6><span class="small text-muted text-uppercase">Donations Received</span> </h6>
                                {% else %}
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width:{% widthratio project.donation_set.count 1 2%}%" aria-valuenow="{{ project.donation_set.count }}" aria-valuemin="0" aria-valuemax="30"></div>
                                    </div>
                                    <h6><span class="small text-muted text-uppercase">Donations Received</span> </h6>
                            {% endif %}
                {% endif %}
            </div>
            <div class="col-md-7">
                <h5>Project Description</h5>
                <p>{{ project.description }}</p>
            </div>
            <div class="container">
                <h5>Which data is required?</h5>
                <p>
                    {% for key, value in project.data.items %}
                           {{ value.0 }}{% if forloop.last %}.{% else %}, {%endif%}
                    {% endfor %}</p>
                <h5>How will the data be used?</h5>
                <p>{{ project.data_info }}</p>
                <h5>How to donate?</h5>
            <p>{{ project.instructions }}<br>
                <small><a href="/howto/{{ project.pk }}/">Detailed instructions can be found here</a></small></p>
                <!--
                {% if project.id == 'ddd_voxpop' and project.active %}
                    <p>If you have just enabled data collection on your Google device schedule a data donation reminder in a few weeks.</p>
                        <form action="/project/{{ project.pk }}/", method="post", enctype="multipart/form-data">
                              {% csrf_token %}
                            <div class="form-row">
                                <div class="form-col col-auto">
                                    {{ reminder.reminder_email }}
                                </div>
                                <div class="form-col col-auto">
                                  {{ reminder.reminder_time }}
                                </div>
                                <div class="form-col col-auto">
                                    <button name="remind" type="submit" class="btn btn-primary">Remind Me</button>
                                </div>
                            </div>
                        </form>
                        <br><br>
                {% endif %}
                -->
            <hr>
            <h5>Upload Your Data</h5>
            {% if project.active %}
                {% if not user.is_authenticated %}
                <p>You first must <a href="/bucket/login/">log in</a> or <a href="/bucket/login/">create a user</a> to upload your data.</p>
                {% else %}
                    {% if project.id != 'ddd_demo' %}
                        <p>This is the first step of the data donation process! Don't worry, you will be able to explore your data <b>before</b> making a decision to donate. You will also find a few questions that we ask to better support you and inform our research.</p>
                         <form action="/project/{{ project.pk }}/", method="post", enctype="multipart/form-data">
                            {% csrf_token %}
                              <div class="form-group row required">
                                <label class="col-sm-3 col-form-label col-form-label-sm control-label">Upload your Data</label>
                                 <div class="col-sm-7">
                                    {{ form.data }}
                                     <small class="form-tex text-muted">Note that <b>{{ project.title }}</b> only accepts <b>{{ project.data_ext }}</b> files.</small>
                                </div>
                             </div>
                            {% if project.id == 'ddd_voxpop' %}
                            <div class="form-group row required">
                                <label class="col-sm-3 col-form-label col-form-label-sm">Previous Knowledge</label>
                                <div class="col-sm-7">
                                    <div>
                                        <label>{{ form.stored }} I knew that Google <b>collects and stores</b> my voice assistant logs</label>
                                        <label>{{ form.takeout }} I knew that I could <b>obtain a copy</b> of my voice assistant logs</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row required">
                                <label class="col-sm-3 col-form-label col-form-label-sm control-label">Open Questions</label>
                                <div class="col-sm-7">
                                    <div>
                                        <small class="form-tex control-label">What information <b>do you think is contained</b> in your voice assistant logs?</small>
                                        {{ form.info }}
                                    </div>
                                    <div>
                                        <small class="form-tex control-label">What would <b>you like to learn</b> from your voice assistant logs?</small>
                                        {{ form.goal }}
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% if project.id != 'ddd_voxpop' %}
                             <div class="form-group row required">
                                <label class="col-sm-3 col-form-label col-form-label-sm control-label">Select the Data</label>
                                <div class="col-sm-7">
                                    {{ form.data_selection }}
                                    {% if project.id != 'ddd_voxpop' %}
                                    <small class="form-tex text-muted">Select the type(s) of data you wish to donate to <b>{{ project.title }}</b>. Hold <b>CTRL</b>, <b>⌘</b> or <b>drag with the mouse</b> to select more than one.</small>
                                    {% else %}
                                     <small class="form-tex text-muted">Select the type(s) of data you wish to upload. Note that <b>{{ project.title }}</b> requires both types of data. Hold <b>CTRL</b>, <b>⌘</b> or <b>drag with the mouse</b> to select more than one.</small>
                                    {% endif %}
                                </div>
                             </div>
                             {% endif %}
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label col-form-label-sm">Indicate your Preferences</label>
                                <div class="col-sm-7">
                                    <label>{{ form.updates }} I wish to receive updates from <b>{{ project.title }}</b></label>
                                    <label>{{ form.participate }} I wish to participate in an individual session to explore my <b>{{ project.title }}</b> data</label>
                                </div>
                            </div>
                            {% if project.id != 'ddd_voxpop' %}
                             <div class="form-group row required">
                                <label class="col-sm-3 col-form-label col-form-label-sm control-label">Confirm your Agreement</label>
                                <div class="col-sm-7">
                                    <label class="control-label">{{ form.consent }} I have read and understood this page</label>
                                    <label class="control-label">{{ form.consent }} I confirm that I am <b>18 years old or older</b></label>
                                    <label class="control-label">{{ form.consent }} I understand that I can <b>delete my data</b> any time</label>
                                    <label class="control-label">{{ form.consent }} I consent voluntarily to <b>{{ project.title }}</b> researchers using my data as stated</label>
                                </div>
                             </div>
                            {% endif %}
                            <div class="form-row">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-7">
                                    <button name="donate" type="submit" class="btn btn-primary btn-xs" style="float: left">Upload</button>
                                </div>
                            </div>
                         </form>
                    {% else %}
                        <form class="row g-3" action="/project/{{ project.pk }}/", method="post", enctype="multipart/form-data">
                                 {% csrf_token %}
                                  <div class="col-md">
                                    <label class="form-label">Gender</label>
                                    <div>{{ form.sex }}</div>
                                  </div>
                                  <div class="col-md-7">
                                    <label class="form-label">Date of Birth</label>
                                      <div>
                                          {{ form.date_of_birth }}
                                      </div>
                                  </div>
                                  <div class="col-md-7 order-2" style="padding-top: 10px">
                                    <button name="demo" type="submit" class="btn btn-primary" style="float: left">Donate</button>
                                  </div>
                             </form>
                    {% endif %}
                {% endif %}
            {% else %}
                <p>This project is closed. At this time you cannot upload your data. We invite you to <a href="{% url 'project_list' %}">explore other projects</a>.</p>
            {% endif %}
        </div>
    </div>
    </div>
</section>
{% endblock %}