{% extends "base.html" %}
{% load static %}
{% block page_content %}
<section style="padding-top: 50px; padding-bottom: 50px">
    <div class="container">
        <div style="padding-top: 20px">
        <h1>{{ project.title }}</h1>
              <hr>
            <p><b>Main Researcher:</b> {{ project.researcher_name }}<br>
                <b>Contact Email: </b><a href="mailto:{{ project.user.email }}">{{ project.user.email }}</a><br>
                <b>Affiliation:</b> {{ project.researcher_affiliation }}<br>
                <b>Duration:</b> {{project.start}} to {{ project.end }}</p>
        </div>
        <div class="row">
            <div class="col-md-5">
                <img class="card-img-top" src="{{ project.image.url }}" width="100%">
                    {% if project.active %}
                        <h6><span class="small text-uppercase" style="color:#019875">STATUS: Open</span></h6>
                    {% else %}
                       <h6><span class="small text-uppercase" style="color:#B8293D">STATUS: Closed</span></h6>
                {% endif %}
            </div>
            <div class="col-md-7">
                <h5>Project Description</h5>
                <p>{{ project.description }}</p>
            </div>
            <div class="container">
                <h5>Which data is required?</h5>
                <p>
                    {% for key, value in project.data.items %}
                        {{ value.0 }},
                    {% endfor %}.</p>
                <h5>How will the data be used?</h5>
                <p>{{ project.data_info }}</p>
                <h5>How to donate?</h5>
            <p>{{ project.instructions }}</p>
        </div>
        <section style="padding-top: 2.5%">
        <div class="container">
        <h3>Donate Your Data</h3>
        {% if not user.is_authenticated and project.active %}
        <p>Remember that you first must <a href="/bucket/login/">log in</a> or <a href="/bucket/login/">create a user</a> to donate your data.</p>
        {% endif %}
        {% if project.active %}
             <form action="/project/{{ project.pk }}/", method="post", enctype="multipart/form-data">
                {% csrf_token %}
                 <div class="form-group">
                    <label>Upload your data</label>
                         {{ form.data }}
                    <small class="form-tex text-muted">Upload the data you wish to donate. Note that {{ project.title }} only accepts .clue files. </small>
                 </div>
                 <div>
                     <label>Are you over the age of 18?</label>
                     <div class="form-group" style="padding-top: 0">
                            {{ form.adult }}
                            <small class="form-tex text-muted">By checking this box I confirm that I am 18 years or older.</small>
                     </div>
                </div>
                <div>
                     <label>Do you consent to donating your data to <b>{{ project.title }}</b>?</label>
                     <div class="form-group" style="padding-top: 0">
                           {{ form.consent }}
                           <small class="form-tex text-muted">By checking this box I consent to donating my data to <b>{{ project.title }}</b>. I understand that this means that my data will be used by the Data Receiver(s) of the project as described on this page. </small>
                     </div>
                </div>
                 <div>
                     <label>Do you wish to receive updates from <b>{{ project.title }}</b>?</label>
                     <div class="form-group" style="padding-top: 0">
                        {{ form.updates}}
                         <small class="form-tex text-muted">By checking this box, I agree to receive updates from this project.</small>
                     </div>
                </div>
                <div class="form-row">
                    {% if user.is_authenticated %}
                        <button type="submit", class="btn btn-primary btn-xs" style="float: right">Donate</button>
                    {% else %}
                        <button type="submit", class="btn btn-primary disabled btn-xs" style="float: right" disabled>Donate</button>
                    {% endif %}
                </div>
             </form>
        {% else %}
            <p>This project is closed. At this time you cannot donate your data. We invite you to <a href="{% url 'project_list' %}">explore other projects</a>.</p>
        {% endif %}
        </div>
      </section>

</section>
{% endblock %}
