{% extends "base.html" %}
{% load static %}
{% block title %}Select Points{% endblock %}

{% block page_content %}
    {% load plotly_dash %}
<section style="padding-top: 50px; padding-bottom: 50px">
<div class="col-md-8 offset-md-2" style="align-content: center; background-size: cover; padding-top: 20px">
            <h4>Your Data</h4>
            <hr>
    <p>Click on the points you want to <b>exclude</b> from your donation, you can also use the Box and Lasso Select in the upper right corner.</p>
</div>
<div class="col-md-8 offset-md-2">
    <div class="{% plotly_class name="PointSelection"%} card" style="height: 100%; width: 100%">
        {% plotly_app name='PointSelection' ratio=0.55 %}
    </div>
</div>
<div class="col-md-8 offset-md-2" style="align-content: center; background-size: cover; padding-top: 20px">
    <form action="/select/{{ donation.pk }}/", method="post", enctype="multipart/form-data">
        {% csrf_token %}
        <button name="confirm" type="submit", class="btn btn-primary btn-xs">Confirm Selection</button>
    </form>
</div>
</section>
{% endblock %}