{% extends "base_dataslip.html" %}
{% load static %}

{% block page_content %}
<!-- Starting section-->
<section style="padding-top: 25px; padding-bottom: 50px">
 <div class="container-fluid" style="align-content: center; background-size: cover;">
     <div class="mx-auto" style="width: 75%">
        <h1>How do you travel on public transport?</h1>
         <form action="{% url "atm_food" %}", method="post", enctype="multipart/form-data">
             {% csrf_token %}
             <div class="row row-centered justify-content-sm-center row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2" style="margin-top: 20px">
                <div class="col" style="margin-top: 10px">
                    <div class="card text-center" style="max-width: 26rem; margin-right: auto; margin-left: auto;">
                        <!--<button class="btn btn-light stretched-link text-decoration-none" type="submit" value="True" name="transport">-->
                          <img src="{% static 'images/transport_card.png' %}" class="card-img-top" alt="Illustration of a person traveling with her personal travel card.">
                          <div class="card-body">
                              <!--<h5 class="card-title">Personal Travel Card</h5>-->
                            <button type="submit" value=1 name="transport" class="btn btn-success" style="width: 75%">Personal Card</button>
                          </div>
                        </button>
                    </div>
                </div>
            <div class="col" style="margin-top: 10px">
                <div class="card text-center" style="max-width: 26rem; margin-right: auto; margin-left: auto;">
                    <!--<button class="btn btn-light stretched-link text-decoration-none" type="submit" value="False" name="transport">-->

                    <img src="{% static 'images/transport_cash.png' %}" class="card-img-top" alt="Illustration of a person buying a ticket in a machine">
                        <div class="card-body">
                            <!--<h5 class="card-title">Single Tickets</h5>-->
                            <button type="submit" value=0 name="transport" class="btn btn-danger" style="width: 75%">Single Tickets</button>
                        </div>
                    </button>
                </div>
            </div>
            </div>
         </form>
     </div>
</div>
</section>
{% endblock %}

