<!doctype html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/receipt.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
    $(document).ready(function () {
            window.print();
        });
        window.onafterprint = function () {
            $('.printpage', window.parent.document).hide();
        }
    </script>
</head>
<body>
<div class="receipt" id="dataslip_receipt">
    <div class="receipt_center"><img src="/static/images/dataslip.BMP" alt="Logo" width="130"></div>
    <div class="receipt_center">
        <p><b>YOUR PERSONAL DATA SLIP</b><br>The data you leave behind</p>
        <hr style="border-top: 2px dotted black"/>
        <p>DESCRIPTION<br></p>
        <table>
            <tr>
                <th>DATA SLIP or RECEIPT</th>
            </tr>
            <tr>
                <td>Data collected by the products and services you interact with</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">Including examples (ex.)</td>
            </tr>
        </table>
        <p>EXPLAINING COMMON TERMS</p>
        <table>
            <tr>
                <th>TOTAL</th>
            </tr>
            <tr>
                <td>How much is data worth to you? Do you mind seeing it here?</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">Fill empty <u style="text-decoration: underline dashed"><b>TOTALS</b></u> with a pen!</td>
            </tr>
        </table>
        <table>
            <tr>
                <th>PROFILE</th>
            </tr>
            <tr>
                <td>General information about you<sup>*</sup></td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Name and Birth Date</td>
            </tr>
        </table>
        <table>
            <tr>
                <th>DEVICE</th>
            </tr>
            <tr>
                <td>General device information<sup>*</sup><br></td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Computer or Phone</td>
            </tr>
        </table>
        <p><sup>*</sup>See below for a full list</p>
    <hr style="border-top: 2px dotted black"/>
    </div>
    <div class="receipt_center">
        {% if request.session.transport %}
            <p><b>PUBLIC TRANSPORT CARD</b></p>
        <table>
        <caption>For every journey</caption>
            <tr>
                <th>DATA</th>
                <th>TOTAL</th>
            </tr>
            <tr>
                <th>1x PROFILE</th>
                <th></th>
            </tr>
            <tr>
                <td>1x Origin Station</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Delft</td>
            </tr>
            <tr>
                <td>1x Destination Station</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Den Haag HS</td>
            </tr>
            <tr>
                <td>1x Start and End Time</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. 8:29 and 8:36</td>
            </tr>
            <tr>
                <td>1x Mode</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Train 2<sup>nd</sup> Class</td>
            </tr>
            <tr>
                <td>1x Price</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. 2.50 euro</td>
            </tr>
        </table>
         <hr style="border-top: 2px dotted black"/>
        {% endif %}
    </div>
    <div class="receipt_center">
        {% if request.session.supermarket %}
            <p><b>SUPERMARKET LOYALTY CARD</b></p>
        <table>
        <caption>For every purchase</caption>
            <tr>
                <th>DATA</th>
                <th>TOTAL</th>
            </tr>
            <tr>
                <th>1x PROFILE</th>
                <th></th>
            </tr>
            <tr>
                <td>1x Date and Time</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. May 5 2022 18:05</td>
            </tr>
            <tr>
                <td>1x Store</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Store, Address</td>
            </tr>
            <tr>
                <td>1x City</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Delft</td>
            </tr>
            <tr>
                <td>1x Items</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Tomatoes, Cheese</td>
            </tr>
            <tr>
                <td>1x Total Price</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. 55.25 euro</td>
            </tr>
        </table>
        <br>
        <table>
        <caption>For every item</caption>
            <tr>
                <th>DATA</th>
                <th>TOTAL</th>
            </tr>
            <tr>
                <td>1x Type</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Soy Milk</td>
            </tr>
            <tr>
                <td>1x Brand</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Alpro</td>
            </tr>
            <tr>
                <td>1x Quantity</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. 1L</td>
            </tr>
            <tr>
                <td>1x Categories</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Vegan, Vegetarian</td>
            </tr>
            <tr>
                <td>1x Price</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. 2.35 euro</td>
            </tr>
            <tr>
                <td>1x Discount</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. No</td>
            </tr>
        </table>
         <hr style="border-top: 2px dotted black"/>
        {% endif %}
    </div>
    <div class="receipt_center">
        {% if request.session.card %}
            <p><b>CREDIT OR DEBIT CARD</b></p>
        <table>
        <caption>For every transaction</caption>
            <tr>
                <th>DATA</th>
                <th>TOTAL</th>
            </tr>
            <tr>
                <th>1x PROFILE</th>
                <th></th>
            </tr>
            <tr>
                <td>1x Account</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. IBAN Number</td>
            </tr>
            <tr>
                <td>1x Recipient</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. HEMA (Store ID)</td>
            </tr>
            <tr>
                <td>1x Date and Time</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. May 5 2022 18:05</td>
            </tr>
            <tr>
                <td>1x City</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Delft</td>
            </tr>
            <tr>
                <td>1x Mode</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Mobile Pay</td>
            </tr>
            <tr>
                <td>1x Amount</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. 5 euro</td>
            </tr>
        </table>
         <hr style="border-top: 2px dotted black"/>
        {% endif %}
    </div>
    <div class="receipt_center">
     {% if request.session.smartwatch or request.session.ring %}
         <p><b>WEARABLE DEVICES</b><br></p>
         <table>
        <caption>General information</caption>
            <tr>
                <th>DATA</th>
                <th>TOTAL</th>
            </tr>
            <tr>
                <th>1x PROFILE<sup>*</sup></th>
                <th></th>
            </tr>
            <tr>
                <th>1x DEVICE</th>
                <th></th>
            </tr>
            <tr>
                <td>1x Weight and Height</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. 65 Kg, 175 cm</td>
            </tr>
        </table>
        <br>
        <table>
        <caption>Daily activity</caption>
            <tr>
                <th>DATA</th>
                <th>TOTAL</th>
            </tr>
            <tr>
                <td>1x Type of Movement</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Housework</td>
            </tr>
            <tr>
                <td>1x Steps</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. 10.000</td>
            </tr>
            <tr>
                <td>1x Calories</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. 1350</td>
            </tr>
            <tr>
                <td>1x Heart Rate</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. 60 BPM</td>
            </tr>
            <tr>
                <td>1x Respiratory Rate</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. 12 BPM</td>
            </tr>
            <tr>
                <td>1x GPS Location</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Lat, Long</td>
            </tr>
        </table>
        <br>
        <table>
        <caption>Physical activity</caption>
            <tr>
                <th>DATA</th>
                <th>TOTAL</th>
            </tr>
            <tr>
                <td>1x Type</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Running</td>
            </tr>
            <tr>
                <td>1x Pace or Speed</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. 5 min/Km</td>
            </tr>
            <tr>
                <td>1x Distance</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. 10 Km</td>
            </tr>
            <tr>
                <td>1x Start and End Time</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. 8:00 and 8:51</td>
            </tr>
            <tr>
                <td>1x Route (GPS)</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Path on Map</td>
            </tr>
            <tr>
                <td>1x Heart Rate</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. 95 BPM</td>
            </tr>
            <tr>
                <td>1x Calories</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. 300</td>
            </tr>
        </table>
        <br>
        <table>
        <caption>Sleep</caption>
            <tr>
                <th>DATA</th>
                <th>TOTAL</th>
            </tr>
            <tr>
                <td>1x Start and End Time</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. 22:00 and 7:00</td>
            </tr>
            <tr>
                <td>1x Sleep Stage</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. REM</td>
            </tr>
            <tr>
                <td>1x Heart Rate</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. 40 BPM</td>
            </tr>
            <tr>
                <td>1x Respiratory Rate</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. 12 BPM</td>
            </tr>
            <tr>
                <td>1x Skin Temperature</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. 35 degrees</td>
            </tr>
            <tr>
                <td>1x Movement</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. High</td>
            </tr>
        </table>
     <hr style="border-top: 2px dotted black"/>
    {% endif %}
    </div>
    <div class="receipt_center">
     {% if request.session.weather %}
         <p><b>WEATHER APP</b></p>
        <table>
            <tr>
                <th>DATA</th>
                <th>TOTAL</th>
            </tr>
            <tr>
                <th>1x PROFILE</th>
                <th></th>
            </tr>
            <tr>
                <th>1x DEVICE<sup>*</sup></th>
                <th></th>
            </tr>
            <tr>
                <td>1x Current Location</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. City, Lat, Long</td>
            </tr>
        </table>
        <hr style="border-top: 2px dotted black"/>
    {% endif %}
    </div>
    <div class="receipt_center">
     {% if request.session.navigation %}
         <p><b>NAVIGATION APP</b></p>
        <table>
            <tr>
                <th>DATA</th>
                <th>TOTAL</th>
            </tr>
            <tr>
                <th>1x PROFILE<sup>*</sup></th>
                <th></th>
            </tr>
            <tr>
                <th>1x DEVICE<sup>*</sup></th>
                <th></th>
            </tr>
            <tr>
                <td>1x Start Location</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Lat, Long</td>
            </tr>
            <tr>
                <td>1x End Location</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Lat, Long</td>
            </tr>
            <tr>
                <td>1x Start and End Time</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. 8:29 and 8:36 </td>
            </tr>
        </table>
         <br>
        <table>
        <caption>For every location stored</caption>
            <tr>
                <th>DATA</th>
                <th>TOTAL</th>
            </tr>
            <tr>
                <td>1x Location</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Lat, Long</td>
            </tr>
            <tr>
                <td>1x Type</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Point</td>
            </tr>
            <tr>
                <td>1x Name</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Work</td>
            </tr>
            <tr>
                <td>1x Address</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Landbergstraat 15</td>
            </tr>
        </table>
        <hr style="border-top: 2px dotted black"/>
    {% endif %}
    </div>
    <div class="receipt_center">
     {% if request.session.browser %}
         <p><b>WEB BROWSER APP</b></p>
         <table>
        <caption>For every page you visit</caption>
            <tr>
                <th>DATA</th>
                <th>TOTAL</th>
            </tr>
              <tr>
                <th>1x PROFILE</th>
                <th></th>
            </tr>
              <tr>
                <th>1x DEVICE<sup>*</sup></th>
                <th></th>
            </tr>
            <tr>
                <td>1x Title</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Google Docs</td>
            </tr>
            <tr>
                <td>1x Url</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. docs.google.com</td>
            </tr>
            <tr>
                <td>1x Date and Time</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. May 5 2022 18:05</td>
            </tr>
            <tr>
                <td>1x Transition to Page</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Via Link</td>
            </tr>
        </table>
         <br>
        <table>
        <caption>For every search you make</caption>
            <tr>
                <th>DATA</th>
                <th>TOTAL</th>
            </tr>
             <tr>
                <th>1x PROFILE</th>
                <th></th>
            </tr>
             <tr>
                <th>1x DEVICE<sup>*</sup></th>
                <th></th>
            </tr>
            <tr>
                <td>1x Search Terms</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. What is data?</td>
            </tr>
            <tr>
                <td>1x Search Results URLs</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. wikipedia.org</td>
            </tr>
            <tr>
                <td>1x Followed URLs</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. dictionary.org</td>
            </tr>
            <tr>
                <td>1x Date and Time</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. May 5 2022 18:05</td>
            </tr>
        </table>
     <hr style="border-top: 2px dotted black"/>
    {% endif %}
    </div>
    <div class="receipt_center">
     {% if request.session.email %}
         <p><b>EMAIL APP</b></p>
         <table>
        <caption>For every email</caption>
            <tr>
                <th>DATA</th>
                <th>TOTAL</th>
            </tr>
            <tr>
                <th>1x PROFILE<sup>*</sup></th>
                <th></th>
            </tr>
             <tr>
                <th>1x DEVICE<sup>*</sup></th>
            </tr>
            <tr>
                <td>1x Sender</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Amazon.nl</td>
            </tr>
            <tr>
                <td>1x Sender Email</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
             <tr>
                <td style="text-indent: 5px">ex. info@amazon.nl</td>
            </tr>
             <tr>
                <td>1x Recipient(s)</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. List of Names</td>
            </tr>
            <tr>
                <td>1x Recipient(s) Email</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. List of Emails</td>
            </tr>
            <tr>
                <td>1x Subject</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Arriving Today</td>
            </tr>
             <tr>
                <td>1x Message</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Your order...</td>
            </tr>
             <tr>
                <td>1x Labels</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Spam</td>
            </tr>
            <tr>
                <td>1x Status</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Opened</td>
            </tr>
            <tr>
                <td>1x Date and Time</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. May 5 2022 18:05</td>
            </tr>
        </table>
      <hr style="border-top: 2px dotted black"/>
    {% endif %}
    </div>
    <div class="receipt_center">
     {% if request.session.whatsapp %}
         <p><b>INSTANT MESSAGING APP</b></p>
         <table>
            <tr>
                <th>DATA</th>
                <th>TOTAL</th>
            </tr>
              <tr>
                <th>1x PROFILE<sup>*</sup></th>
                <th></th>
            </tr>
              <tr>
                <th>1x DEVICE<sup>*</sup></th>
                <th></th>
            </tr>
            <tr>
                <td>1x Status</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Offline</td>
            </tr>
            <tr>
                <td>1x Last Active Time</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Nov 5 2022 4:11</td>
            </tr>
            <tr>
                <td>1x Online Since</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Nov 5 2022 4:11</td>
            </tr>
        </table>
         <br>
         <table>
         <caption>For every contact</caption>
            <tr>
                <th>DATA</th>
                <th>TOTAL</th>
            </tr>
             <tr>
                <td>1x First and Last Name</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Alejandra Gomez</td>
            </tr>
            <tr>
                <td>1x Phone Number</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. +310651244092</td>
            </tr>
        </table>
         <br>
         <table>
          <caption>For every group</caption>
            <tr>
                <th>DATA</th>
                <th>TOTAL</th>
            </tr>
            <tr>
                <td>1x Name</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Familiy :)</td>
            </tr>
             <tr>
                <td>1x Contact(s)</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Four Family Members</td>
            </tr>
        </table>
         <hr style="border-top: 2px dotted black"/>
    {% endif %}
    </div>
    <div class="receipt_center">
     {% if request.session.spotify %}
         <p><b>MUSIC APP</b></p>
         <table>
         <caption>Every time you stream content</caption>
            <tr>
                <th>DATA</th>
                <th>TOTAL</th>
            </tr>
              <tr>
                <th>1x PROFILE<sup>*</sup></th>
                <th></th>
            </tr>
              <tr>
                <th>1x DEVICE<sup>*</sup></th>
                <th></th>
            </tr>
            <tr>
                <td>1x Type of Content</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Song</td>
            </tr>
            <tr>
                <td>1x Artist</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Shakira</td>
            </tr>
            <tr>
                <td>1x Transition</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Previous Finished</td>
            </tr>
            <tr>
                <td>1x Date and Time</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. May 5 2022 18:05</td>
            </tr>
             <tr>
                <td>1x Milliseconds Played</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. 500 ms</td>
            </tr>
             <tr>
                <td>1x Content Skipped</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. True</td>
            </tr>
            <tr>
                <td>1x Shuffle Mode</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. False</td>
            </tr>
        </table>
         <br>
          <table>
         <caption>For every playlist</caption>
            <tr>
                <th>DATA</th>
                <th>TOTAL</th>
            </tr>
            <tr>
                <td>1x Playlist Name</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Latin Karaoke</td>
            </tr>
            <tr>
                <td>1x Song(s)</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Hips Don't Lie</td>
            </tr>
            <tr>
                <td>1x Artist(s)</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Shakira</td>
            </tr>
            <tr>
                <td>1x Last Modified</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. May 5 2022 18:05</td>
            </tr>
             <tr>
                <td>1x Description</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. None</td>
            </tr>
             <tr>
                <td>1x Followers</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. 300</td>
            </tr>
        </table>
         <br>
         <table>
         <caption>For every search</caption>
            <tr>
                <th>DATA</th>
                <th>TOTAL</th>
            </tr>
            <tr>
                <td>1x Query</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Songs to Focus</td>
            </tr>
            <tr>
                <td>1x Search Results</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. List of Results</td>
            </tr>
            <tr>
                <td>1x Interactions</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Clicked Results</td>
            </tr>
        </table>
         <br>
          <table>
         <caption>Your library</caption>
            <tr>
                <th>DATA</th>
                <th>TOTAL</th>
            </tr>
            <tr>
                <td>1x Liked Content(s)</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. RadioLab Podcast</td>
            </tr>
            <tr>
                <td>1x Liked Artist(s)</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Shakira</td>
            </tr>
              <tr>
                <td>1x People you Follow</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Shakira</td>
            </tr>
            <tr>
                <td>1x Your Followers</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Mom</td>
            </tr>
        </table>
      <hr style="border-top: 2px dotted black"/>
    {% endif %}
    </div>
    <div class="receipt_center">
     {% if request.session.social %}
         <p><b>SOCIAL MEDIA</b></p>
         <p>LinkedIn, Instagram,<br>Twitter, and TikTok</p>
         <table>
            <tr>
                <th>DATA</th>
                <th>TOTAL</th>
            </tr>
            <tr>
                <th>1x PROFILE<sup>*</sup></th>
                <th></th>
            </tr>
              <tr>
                <th>1x DEVICE<sup>*</sup></th>
                <th></th>
            </tr>
            <tr>
                <td>1x Inferred Interests</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Wedding Cake</td>
            </tr>
            <tr>
                <td>1x Inferred Adds</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Footwear</td>
            </tr>
            <tr>
                <td>1x Your Advertisers</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Shutterstock</td>
            </tr>
          <tr>
                <td>1x People you Follow</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Boss</td>
            </tr>
            <tr>
                <td>1x Your Followers</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Friend</td>
            </tr>
            <tr>
                <td>1x People you Blocked</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Ex Boyfriend</td>
            </tr>
         </table>
         <br>
          <table>
         <caption>For every contact</caption>
            <tr>
                <th>DATA</th>
                <th>TOTAL</th>
            </tr>
             <tr>
                <td>1x First and Last Name</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Alejandra Gomez</td>
            </tr>
            <tr>
                <td>1x Phone Number</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. +310651244092</td>
            </tr>
        </table>
         <br>
         <table>
         <caption>Every post you see</caption>
            <tr>
                <th>DATA</th>
                <th>TOTAL</th>
            </tr>
            <tr>
                <td>1x Date and Time</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. May 5 2022 18:05</td>
            </tr>
            <tr>
                <td>1x Username of Owner</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. tiktok_user</td>
            </tr>
            <tr>
                <td>1x Post</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Video</td>
            </tr>
             <tr>
                <td>1x Post URL</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. tiktok.com/id</td>
            </tr>
             <tr>
                <td>1x Suggested</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. False</td>
            </tr>
        </table>
         <br>
         <table>
         <caption>Every comment/like in a post</caption>
            <tr>
                <th>DATA</th>
                <th>TOTAL</th>
            </tr>
            <tr>
                <td>1x Date and Time</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. May 5 2022 18:05</td>
            </tr>
            <tr>
                <td>1x Username of Owner</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. ig_user</td>
            </tr>
            <tr>
                <td>1x Post</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Reel</td>
            </tr>
            <tr>
                <td>1x Comment</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. So cool!</td>
            </tr>
            <tr>
                <td>1x Like</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. True</td>
            </tr>
             <tr>
                <td>1x Post URL</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. instagram.com/id</td>
            </tr>
        </table>
         <br>
         <table>
         <caption>Every DM you send/receive</caption>
            <tr>
                <th>DATA</th>
                <th>TOTAL</th>
            </tr>
            <tr>
                <td>1x Date and Time</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. May 5 2022 18:05</td>
            </tr>
            <tr>
                <td>1x Recipient Username</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. twitter_user</td>
            </tr>
            <tr>
                <td>1x Message</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Fun Tweet ;P</td>
            </tr>
        </table>
         <br>
         <table>
         <caption>Every search</caption>
            <tr>
                <th>DATA</th>
                <th>TOTAL</th>
            </tr>
            <tr>
                <td>1x Date and Time</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. May 5 2022 18:05</td>
            </tr>
            <tr>
                <td>1x Search Query</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Jobs near me</td>
            </tr>
        </table>
         <br>
         <table>
         <caption>Every ad you see</caption>
            <tr>
                <th>DATA</th>
                <th>TOTAL</th>
            </tr>
            <tr>
                <td>1x Date and Time</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. May 5 2022 18:05</td>
            </tr>
            <tr>
                <td>1x Ad Author</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Nike</td>
            </tr>
            <tr>
                <td>1x Ad Content</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Winter is Here</td>
            </tr>
        </table>
         <hr style="border-top: 2px dotted black"/>
    {% endif %}
    </div>
    <div class="receipt_center">
     {% if request.session.dating %}
         <p><b>DATING APP</b></p>
         <p>Bumble and Tinder</p>
         <table>
         <tr>
                <th>DATA</th>
                <th>TOTAL</th>
            </tr>
              <tr>
                <th>1x PROFILE<sup>*</sup></th>
                <th>_ _ _</th>
            </tr>
              <tr>
                <th>1x DEVICE<sup>*</sup></th>
                <th>_ _ _</th>
            </tr>
            <tr>
                <td>1x Sexual Preference</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Men and Women</td>
            </tr>
          <tr>
                <td>1x Age Range</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. 25 to 45</td>
            </tr>
            <tr>
                <td>1x Interests</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Hot Yoga</td>
            </tr>
         </table>
         <br>
         <table>
         <caption>Every time you open the app</caption>
            <tr>
                <th>DATA</th>
                <th>TOTAL</th>
            </tr>
            <tr>
                <td>1x Date and Time</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. May 5 2022 18:05</td>
            </tr>
            <tr>
                <td>1x Swipes Left</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. 7</td>
            </tr>
            <tr>
                <td>1x Swipes Right</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. 15</td>
            </tr>
             <tr>
                <td>1x Super Likes</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. 0</td>
            </tr>
            <tr>
                <td>1x Matches</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. 2</td>
            </tr>
        </table>
         <br>
         <table>
         <caption>1x Every DM you send/receive</caption>
            <tr>
                <th>DATA</th>
                <th>TOTAL</th>
            </tr>
            <tr>
                <td>1x Date and Time</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. May 5 2022 18:05</td>
            </tr>
            <tr>
                <td>1x Match ID</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. match_6</td>
            </tr>
            <tr>
                <td>1x Message</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Heyyy! <3</td>
            </tr>
        </table>
         <hr style="border-top: 2px dotted black"/>
    {% endif %}
    </div>
    <div class="receipt_center">
     {% if request.session.tracking %}
         <p><b>MENSTRUAL TRACKING APP</b></p>
         <table>
            <tr>
                <th>DATA</th>
                <th>TOTAL</th>
            </tr>
              <tr>
                <th>1x PROFILE</th>
                <th></th>
            </tr>
              <tr>
                <th>1x DEVICE</th>
                <th></th>
            </tr>
            <tr>
                <td>1x Cycle Length</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. 30 days</td>
            </tr>
            <tr>
                <td>1x Period Length</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. 3 days</td>
            </tr>
            <tr>
                <td>1x PMS Lenght</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. 6 days</td>
            </tr>
             <tr>
                <td>1x Birth Control Method</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Pill</td>
            </tr>
            <tr>
                <td>1x Pregnant</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. False</td>
            </tr>
             <tr>
                <td>1x Menopause</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. False</td>
            </tr>
        </table>
         <br>
        <table>
        <caption>For every entry you log</caption>
            <tr>
                <th>DATA</th>
                <th>TOTAL</th>
            </tr>
            <tr>
                <td>1x Entry</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Pain</td>
            </tr>
            <tr>
                <td>1x Entry Type</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Cramps</td>
            </tr>
            <tr>
                <td>1x Notes</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Left hurts more</td>
            </tr>
             <tr>
                <td>1x Date</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. May 5 2022</td>
            </tr>
        </table>
         <br>
        <hr style="border-top: 2px dotted black"/>
    {% endif %}
    </div>
<div class="receipt_center">
        <p>COMMON TERMS<br><br><b>1x PROFILE</b></p>
        <table>
            <tr>
                <th>DATA</th>
                <th>TOTAL</th>
            </tr>
            <tr>
                <td>1x Name</td>
                <td>_ _ _</td>
            </tr>
            <tr>
                <td>1x Last Name</td>
                <td>_ _ _</td>
            </tr>
            <tr>
                <td>1x Date of Birth</td>
                <td>_ _ _</td>
            </tr>
            <tr>
                <td>1x ID Number</td>
                <td>_ _ _</td>
            </tr>
            <tr>
                <td>1x Phone Number</td>
                <td>_ _ _</td>
            </tr>
            <tr>
                <td>1x Email Address</td>
                <td>_ _ _</td>
            </tr>
           <tr>
                <td>1x Address</td>
                <td>_ _ _</td>
            </tr>
           <tr>
               <td>1x Username<sup>*</sup></td>
                <td>_ _ _</td>
            </tr>
           <tr>
                <td>1x Picture<sup>*</sup></td>
                <td>_ _ _</td>
            </tr>
          <tr>
                <td>1x Bio<sup>*</sup></td>
                <td>_ _ _</td>
            </tr>
          <tr>
                <td>1x Linked Accounts<sup>*</sup></td>
                <td>_ _ _</td>
            </tr>
        </table>
        <br>
    <p><b>1x DEVICE</b></p>

        <table>
                        <caption>Every time you open an app</caption>
            <tr>
                <th>DATA</th>
                <th>TOTAL</th>
            </tr>
            <tr>
                <td>1x Timestamp</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Date and Time</td>
            </tr>
            <tr>
                <td>1x IP Address</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. 123.55.0.23</td>
            </tr>
            <tr>
                <td>1x Model</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. iPhone 14 Pro</td>
            </tr>
            <tr>
                <td>1x Operating System</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. iOS 16.0.2</td>
            </tr>
            <tr>
                <td>1x Network</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. WiFi</td>
            </tr>
            <tr>
                <td>1x Carrier</td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. KPN NL</td>
            </tr>
            <tr>
                <td>1x Geolocation<sup>*</sup></td>
                <td rowspan="2" style="vertical-align: top">_ _ _</td>
            </tr>
            <tr>
                <td style="text-indent: 5px">ex. Lat, Long</td>
            </tr>
        </table>
        <p><sup>*</sup>Only if indicated</p>
    <hr style="border-top: 2px dotted black"/>
    </div>
    <div class="receipt_center">
        <p>Share your impressions and experience with dataslip!</p>
        <div><img src="/static/images/DDD_QR.bmp" alt="Logo" width="100"></div>
        <p>datadonation-ide@tudelft.nl</p>
    </div>
</div>
</div>
</body>
</html>