{% extends "base.html" %}
{% load static %}


{% block page_content %}
<div style="padding-top: 20px">
<h1>{{ cause.title }}</h1>
    <p><b>Main Researcher:</b> {{ cause.contact_name }}<br>
        <b>Contact Email: </b><a href="mailto:{{ cause.contact_email }}">{{ cause.contact_email }}</a><br>
        <b>Duration:</b> {{ cause.start}} to {{ cause.end }}</p>
</div>
<div class="row">
    <div class="col-md-5">
        <img src="{{ cause.image.url }}" alt="" width="100%">
            {% if cause.active %}
            <p style="color:#254441">STATUS: Open</p>
            {% else %}
            <p style="color:#9E2B25">STATUS: Closed</p>
        {% endif %}
    </div>
    <div class="col-md-7">
        <h5>Project Information</h5>
        <p>{{ cause.description }}</p>
        <h5>Which data is required?</h5>
        <p>{{ cause.data }}</p>
    </div>
</div>
<div class="row", style="padding-top: 15px;">
<div class="col" style="padding-bottom: 35px">
    {% if cause.active %}
        <h1>Donate</h1>
        <p>{{ cause.data_info }}</p>
        <h5>Questions?</h5>
        <p>Send an email to <a href="mailto:{{ cause.contact_email }}">{{ cause.contact_email }}</a></p>
        <form action="/causes/{{ cause.pk }}/", method="post", enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                    <div class="form-group">
                    <label>Name:</label>
                    {{ form.name }}
                    <small class="form-text text-muted">This field is optional. We won't share your name without your permission.</small>
                     </div>
            </div>
            <div class="form-row">
                    <div class="form-group">
                    <label>Email*:</label>
                    {{ form.email }}
                    <small class="form-text text-muted">*This field is required. We won't share your email without your permission.</small>
                    </div>
            </div>
            <div class="form-row">
               <div class="form-group">
                    {{ form.available }} <label>I would like to be considered to participate in later stages of this project</label><br>
                    {{ form.updates }} <label>I would like to receive updates about the project and how my data is used</label>
                    <small class="form-text text-muted">Tis field is optional. You can change your preferences over time</small>
                </div>
            </div>
                <div class="form-group">
                    <label>Upload data*:</label>
                    {{ form.data }}
                    <small class="form-text text-muted">*This field is required. Your data will only be used and stored for this project.</small>
                </div>
                <div class="form-group">
                    {{ form.permission }} <label>I authorize the use of my data for this project*</label>
                    <small class="form-text text-muted">*This field is required. We will use your data as described above, you can request information and choose to opt-out at any time.</small>
                </div>

            <div class="form-row">
                <button type="submit" class="btn btn-primary"> Donate </button>
            </div>
        </form>

    {% endif %}
</div>
</div>
{% endblock %}